<h1>Newsletters</h1>

<div id="newsletters">
  <% @newsletters.each do |newsletter| %>
    <p>
      <%= link_to newsletter.name, newsletter %>
    </p>
  <% end %>
</div>

<%= link_to "New newsletter", new_newsletter_path %>
