<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>

    <%= image_tag user.avatar.variant(resize_to_fill: [100, 100]) if user.avatar.attached? %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
