<h1>The Newsletter APP!!</h1>

<div>
  <br>
  <%= link_to "My Newsletters", newsletters_path %>
</div>
<div>
  <br>
  <%= link_to "My Subscriptions", subscriptions_path %>
</div>
<div>
  <br>
  <%= link_to "Create a Post", new_post_path %>
</div>
