<div>
  <br>
  <%= link_to "My Newsletters", newsletters_path %>
</div>
<div>
  <br>
  <%= link_to "My Subscriptions", subscriptions_path %>
</div>
<div>
  <br>
  <%= link_to "Create a Post", new_post_path %>
</div>
<h2> Posts from newsletters you may be interested in </h2>
<% @posts.each do |post| %> 
  <div>
    <br>
    <%= link_to post.description, post_path(post) %>
  </div>
<% end %>
