<div id="<%= dom_id subscription %>">
  <p>
    <strong>Newsletter:</strong>
    <%= subscription.newsletter_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </p>

</div>
