<h1>Subscriptions</h1>

<div id="subscriptions">
  <% @subscriptions.each do |subscription| %>
    <p>
      <%= link_to subscription.name, subscription %>
    </p>
  <% end %>
</div>

<%= link_to "New subscription", new_subscription_path %>
