<div class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1>Subscriptions</h1>
    </div>
    <div class="card-body">
      <div id="subscriptions">

        <div id="subscriptions">
          <% @subscriptions.each do |subscription| %>
            <%= " Subscribed to: #{Newsletter.find_by(id:subscription.newsletter_id).name}" %>
            <br>
          <% end %>
        </div>
        <hr>
        <%= link_to "New subscription", new_subscription_path %>
      </div>
    </div>
  </div>
</div>
