<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <p>
      <br>
      <%= image_tag post.image.variant(resize_to_fill: [300, 300]) if post.image.attached? %>
      <br>
      <%= link_to post.description, post_path(post) %>
      <br>
      <hr>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
