<div class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1>Posts</h1>
    </div>
    <div class="card-body">
      <div id="posts">
        <% @posts.each do |post| %>
          <p>
            <br>
            <%= image_tag post.image.variant(resize_to_fill: [300, 300]) if post.image.attached? %>
            <br>
            <%= link_to post.description, post_path(post) %>
            <br>
            <hr>
          </p>
        <% end %>
      </div>
      <hr>
      <%= link_to "New post", new_post_path %>
    </div>
  </div>
</div>
